<!-- <form>
  <mat-form-field
    ><mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Daniel Morocho" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</form> -->

<form (ngSubmit)="agregar()">
  <label>Blog: </label>
  <input type="text" [(ngModel)]="blog.blog" name="blog" />
  <label>Title: </label>
  <input type="text" [(ngModel)]="blog.title" name="title" />
  <label>Content: </label>
  <input type="text" [(ngModel)]="blog.content" name="content" />
  <input type="button" value="Submit" />
</form>
